{% extends "base.html" %}

{% block title %}
<title>Bienvenido a ProfeReviews</title>
{% endblock title %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4 text-white">Bienvenido a WikiProfes</h1>
    <p class="lead text-light">Descubre y comparte experiencias sobre profesores y materias</p>
    
    <div class="mt-4">
        <a href="/publicacion" class="btn btn-primary me-2">Ver Profesores</a>
        <a href="/publicacion" class="btn btn-primary">Ver Publicaciones</a>
    </div>
</div>
{% endblock content %}
