{% extends 'base.html' %}

{% block title %}
<title>Lista de Materias</title>
{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <form class="d-flex" role="search" action="{% url 'publicacion:search' %}">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="q">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</nav>

<div class="container">
    <h1 class="mt-5">Lista de Materias</h1>
    <ul class="list-group mt-3">
        {% for materia in materia_list %}
        <li class="list-group-item">
            <a href="{% url 'publicacion:detalle_materia' materia.id %}">{{ materia.nombre }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}