header{
    background-color: black;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 60px;
    right: 0;

}
.imagen{
    width: 125px;
    height: 125px;
}
nav li{
    display: inline;/*Acomodar en linea*/
    margin: 0 0 0 15px /*Separar palabras*/
}
nav a{
    text-transform: uppercase;
    color: aliceblue;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    /*color: ;*/
    text-decoration: underline;
}
.opc {
    display: block;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}
.productos {
    width: 940px; /*Para limitar un tamaño en especifico*/
    margin: 0 auto; /*Que esos elementos ocupen el 100 */
    padding: 50px;
}
.productos li {
    display: inline-block; /*Poner en horizontal*/
    text-align: center; /*Alinear al centro*/
    width: 30%;
    vertical-align: top;
    margin: 0 1.4%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos li:hover{
    border-color: #c78c19 ;
}
li a:hover{
    text-decoration: underline;
}
.productos li:active{
    border-color: #088c19;
}
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;


}
.enviar{
    width:  40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

/*table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

/*td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}
/*.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;

}



.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;

}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}