{% extends "base.html "%}
{% block titulo %}
<title>Sobre {{publicacion_list.0.materia}}</title>
{% endblock titulo %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            {%if user.is_authenticated%}
            <a class="navbar-brand" href="#">Cerrar Sesion</a>
            <a class="navbar-brand" href="#">Reseñar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {%else%}
            <a class="navbar-brand" href="{% url 'usuario:inicio' %}">Iniciar Sesion</a>
            <a class="navbar-brand" href="{% url 'usuario:registro' %}">Registrarse</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {%endif%}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'publicacion:index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Profesores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'materia:lista_materias' %}">Materias</a>
                    </li>
                    <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="mt-5">{{ publicacion_list.0.materia.nombre }}</h1>
        <p class="mt-3">Clave: {{ publicacion_list.0.materia.clave }}</p>
        <p>Departamento: {{ publicacion_list.0.materia.departamento }}</p>
    </div>
    {% for publicacion in publicacion_list %}
    <section>
        <div class="container">
            <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">{{publicacion.titulo}}</h5>
                  <p class="card-text">{{publicacion.comentario}}</p>
                </div>
                <div class="card-footer text-body-secondary text-end">
                    por {{publicacion.usuario}}. {{publicacion.fecha}}
                </div>
              </div>
        </div>
    </section>

    {% endfor %}
{% endblock content %}