{% extends "base.html" %}
{% block title %}
<title>Wikiprofes</title>
{% endblock title %}

{% block content %}
    {% for publicacion in publicacion_list %}
    <section>
        <div class="container">
            <div class="card" style="width: 54rem;">
                <div class="card-body">
                  <h5 class="card-title">{{publicacion.titulo}}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary text-end">Sobre {{publicacion.profesor}}</h6>
                  <p class="card-text">{{publicacion.comentario}}</p>
                </div>
                <div class="card-footer text-body-secondary text-end">
                    Por {{publicacion.usuario}}, {{publicacion.fecha}}
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock content %}