{% extends "base.html" %}
{% block titulo %}
<title>Sobre {{ profesor.nombre }}</title>
{% endblock titulo %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
                <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
    </div>
</nav>
<h1>Sobre {{ profesor.nombre }}</h1>

<div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
    <h2 style="flex: 1;">Calificación General: {{ general_rating }}</h2>
    <div style="display: flex; flex: 2; justify-content: space-evenly;">
        {% for rubro, promedio in rubric_averages.items %}
        <div style="text-align: center;">
            <h6>{{ rubro }}: {{ promedio }}</h6>
        </div>
        {% endfor %}
    </div>
</div>

{% for publicacion in publicacion_list %}
<section>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ publicacion.titulo }}</h5>
                <p class="card-text">{{ publicacion.comentario }}</p>
            </div>
            <div class="card-footer text-body-secondary text-end">
                Por {{ publicacion.usuario }}. {{ publicacion.fecha }}
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock content %}
